/* -------------------------------------------------------------------------------------------------------------------------
  GENERAL SETTINGS
---------------------------------------------------------------------------------------------------------------------------- */
html {
  width: 100vw;
  height: 100vh;
  font-size: 62.5%;
  font-weight: 100;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Open Sans";
}

h1 {
  font-weight: 600;
  font-size: 3rem;
}

h2 {
  font-weight: 500;
  font-size: 2.5rem;
}

h3 {
  font-weight: 400;
  font-size: 2rem;
}

h4 {
  font-weight: 300;
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

.container {
  width: 94vw;
  height: 94vw;
}

main {
  margin: 0 2%;
}

/*@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 3rem;
  }
}*/



/* our media query (40.5em = 680px)*/
@media screen and (min-width: 40.5em){
    
}


/* ------------------------------------------
  RESPONSIVE LOGO, NAVIGATION MENU, FIXED HEADER        !!!!!!!!!!!!!!!!!!!!!!!!!!!ÄNDRA!!!!!!!!!!!!!!!!!!!!!!!!!
--------------------------------------------- */
.logo {
  margin: 0 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.fixed-menu {
  background: #fff;
  border-bottom: 1px solid #000;
  height: 4.75rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-menu-links {
  padding: 0 2rem;
  position: absolute;
  right: 0;
}

.nav-menu-icon {
  background: url(../images/hamburg-menu.png) center;
}

.nav-close-menu-icon {
  background: url(../images/close-hamburg-menu.png) center;
}

.nav-menu-icon,
.nav-close-menu-icon {
  background-repeat: no-repeat;
  display: hidden;
  height: 40px;
  width: 40px;
}

.nav-menu {
  list-style: none;
}

.nav-menu li {
  display: inline-block;
  padding: .9rem
}

.nav-menu a {
  color: #000;
  text-decoration: none;
}

.nav-menu a:hover {
  background-color: transparent;
  text-decoration: underline;
}

@media only screen and (max-width: 1023px) {
  .nav-menu-icon,
  .nav-close-menu-icon {
    display:inline-block;
    margin: 0 2rem;
    position: absolute;
    right: 0;
    top: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .nav-close-menu-icon {
    visibility: hidden;
  }

  .nav-menu li {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    text-align: right;
    width: 100%;
  }

  .nav-menu a {
    color: #fff;
  }

  .nav-menu-links {
    background-color: #272727;
    border: 1px solid #000;
    height: 50vh;
    opacity: .8;
    top: 4.72rem;
    visibility: hidden;
    width: 40%;
  }
}

.show-menu {
  visibility: visible;
}


/* -------------------------------------------------------------------------------------------------------------------------
  HOME PAGE
---------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------
  IMAGES                                            !!!!!!!!!!!!!!!!!!!!!!!!!!!ÄNDRA!!!!!!!!!!!!!!!!!!!!!!!!!
--------------------------------------------- */
.my-image {
  background-size: cover;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  height: 100vh;
}

/* ------------------------------------------
  BUTTONS                                            !!!!!!!!!!!!!!!!!!!!!!!!!!!ÄNDRA!!!!!!!!!!!!!!!!!!!!!!!!!
--------------------------------------------- */
.all-buttons {
  background-color: #f12241;
  border-radius: 1rem;
  border: 1px solid #272727;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 47%;
  cursor: pointer;
}

/* ------------------------------------------
  BACKGROUND IMAGE                                    !!!!!!!!!!!!!!!!!!!!!!!!!!!ÄNDRA!!!!!!!!!!!!!!!!!!!!!!!!!
--------------------------------------------- */
.home-background-image {
  background-image: url(../images/Desktop.png);
  position: absolute;
  width: 70%;
}

.red-rectangle {
  background-color: #f12241;
  height: 100vh;
  position: absolute;
  right: 0;
  width: 30%;
}

#text-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#text-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (min-width: 1024px) and (orientation:landscape) {
  .home-background-image {
    background-image: url(../images/Desktop.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .home-background-image {
    background-image: url(../images/tabletPortrait.png);
    background-size: cover;
    height: 100vmin;
    width: 100vmin;
  }

  .red-rectangle,
  #text-right,
  #text-left {
    display: none;
  }
}

@media only screen and (max-width: 767px) and (orientation:landscape) {
  .home-background-image {
    background-image: url(../images/mobileLandscape_v2.png);
    background-size: cover;
    height: 100vmin;
    width: 100%;
  }

  .red-rectangle,
  #text-right,
  #text-left {
    display: none;
  }
}

@media only screen and (max-width: 767px) and (orientation:portrait) {
  .home-background-image {
    background-image: url(../images/mobilePortrait_v2.png);
    background-size: cover;
    height: 100vmin;
    width: 100vmin;
  }

  .red-rectangle,
  #text-right,
  #text-left {
    display: none;
  }
}

/* ------------------------------------------
  CONCEPT                                              !!!!!!!!!!!!!!!!!!!!!!!!!!!ÄNDRA!!!!!!!!!!!!!!!!!!!!!!!!!
--------------------------------------------- */
.our-concept-image {
  background-image: url(../images/about_desktop.jpg);
}

.concept-project-clients-about-rectangle {
  background-color: #615F5F;
  height: 60vh;
  margin-right: 1rem;
  position: absolute;
  top: 15%;
  opacity: 0.8;
  text-align: center;
  padding: 2rem;
}

@media only screen and (min-width: 1024px) and (orientation:landscape) {
  .our-concept-image {
    background-image: url(../images/about_desktop.jpg);
    background-size: cover;
    height: 100vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .our-concept-image {
    background-image: url(../images/about_mobile_portrait.jpg);
    background-size: cover;
    height: 100vmin;
    width: 100vmin;
  }

.concept-project-clients-about-rectangle {
    background-color: transparent;
  }
}

@media only screen and (max-width: 767px) and (orientation:landscape) {
  .our-concept-image {
    background-image: url(../images/about_land_mob.png);
    background-size: cover;
    height: 100vmin;
    width: 100%;
  }

.concept-project-clients-about-rectangle {
    background-color: transparent;
  }
}

@media only screen and (max-width: 767px) and (orientation:portrait) {
  .our-concept-image {
    background-image: url(../images/about_port_mob.png);
    background-size: cover;
    height: 100vmin;
    width: 100vmin;
  }

.concept-project-clients-about-rectangle {
    background-color: transparent;
  }
}

/* ------------------------------------------
  PROJECTS                                           !!!!!!!!!!!!!!!!!!!!!!!!!!!ÄNDRA!!!!!!!!!!!!!!!!!!!!!!!!!
--------------------------------------------- */
.our-project-image {
  background-image: url(../images/project_desktop.jpg);
}



/* ------------------------------------------
  CLIENTS                                             !!!!!!!!!!!!!!!!!!!!!!!!!!!ÄNDRA!!!!!!!!!!!!!!!!!!!!!!!!!
--------------------------------------------- */
.our-clients-image {
  background-color: #c5c2c2;
}

.concept-project-clients-about-rectangle-transparent {
  background-color: transparent;
  height: 60vh;
  position: absolute;
  top: 15%;
  opacity: 0.8;
  text-align: center;
  padding: 2rem;
}

/* ------------------------------------------
  ABOUT US                                            !!!!!!!!!!!!!!!!!!!!!!!!!!!ÄNDRA!!!!!!!!!!!!!!!!!!!!!!!!!
--------------------------------------------- */
.our-about-us-image {
  background-color: #615f5f;
}
